  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h2><b>Terms of Use</b></h2>
        <p>
          Thank you for using CenitSaaS! These terms of service (the “Terms”) govern your access to and use of CenitSaaS   (“we” or “our”) websites and services (the “Services”), so please carefully read them before using the Services.</p>
        <p>
          By using the Services you agree to be bound by these Terms. If you are using the Services on behalf of an organization, you are agreeing to these Terms for that organization and promising that you have the authority to bind that organization to these terms. In that case, “you” and “your” will refer to that organization.</p>
        <p>
          You may use the Services only in compliance with these Terms. The Services may continue to change over time as we refine and add more features. We may stop, suspend, or modify the Services at any time without prior notice to you. We may also remove any content from our Services at our discretion.</p>
      </div>
      <div class="col-md-12">
        <h3>Your Stuff & Your Privacy</h3>
        <p>
          By using our Services you provide us with information, files, and folders that you submit to CenitSaaS (together, “your stuff”). You retain full ownership to your stuff. We don’t claim any ownership to any of it. These Terms do not grant us any rights to your stuff or intellectual property except for the limited rights that are needed to run the Services, as explained below.</p>
        <p>
          We may need your permission to do things you ask us to do with your stuff, for example, hosting your files, or sharing them at your direction. This includes product features visible to you, for example, image thumbnails or document previews. It also includes design choices we make to technically administer our Services, for example, how we redundantly backup data to keep it safe. You give us the permissions we need to do those things solely to provide the Services. This permission also extends to trusted third parties we work with to provide the Services, for example Amazon, which provides our storage space (again, only to provide the Services).</p>
        <p>
          To be clear, aside from the rare exceptions we identify in our Privacy Policy, no matter how the Services change, we won’t share your content with others, including law enforcement, for any purpose unless you direct us to. How we collect and use your information generally is also explained in our Privacy Policy.</p>
        <p>
          You are solely responsible for your conduct, the content of your files and folders, and your communications with others while using the Services. For example, it’s your responsibility to ensure that you have the rights or permission needed to comply with these Terms.</p>
        <p>
          We may choose to review public content for compliance with our community guidelines, but you acknowledge that we have no obligation to monitor any information on the Services. We are not responsible for the accuracy, completeness, appropriateness, or legality of files, user posts, or any other information you may be able to access using the Services.
        </p>
      </div>
      <div class="col-md-12">
        <h4>Sharing Your Stuff</h4>
        <p>
          The Services provide features that allow you to share your stuff with others or to make it public. There are  many things that users may do with that stuff (for example, copy it, modify it, re-share it). Please consider carefully what you choose to share or make public. We have no responsibility for that activity.</p>
      </div>
      <div class="col-md-12">
        <h3>Your Responsibilities</h3>
        <p>
          Files and other content in the Services may be protected by intellectual property rights of others. Please do not copy, upload, download, or share files unless you have the right to do so. You, not CenitSaas, will be fully responsible and liable for what you copy, share, upload, download or otherwise use while using the Services. You must not upload spyware or any other malicious software to the Service.</p>
        <p>
          You, and not CenitSaaS, are responsible for maintaining and protecting all of your stuff. We will not be liable for any loss or corruption of your stuff, or for any costs or expenses associated with backing up or restoring any of your stuff.</p>
        <p>
          If your contact information, or other information related to your account, changes, you must notify us promptly and keep your information current. The Services are not intended for use by you if you are under 13 years of age. By agreeing to these Terms, you are representing to us that you are over 13.</p>
      </div> 
      <div class="col-md-12">
        <h3>Account Security</h3>
        <p> 
          You are responsible for safeguarding the password that you use to access the Services and you agree not to disclose your password to any third party. You are responsible for any activity using your account, whether or not you authorized that activity. You should immediately notify CenitSaaS of any unauthorized use of your account. You acknowledge that if you wish to protect your transmission of data or files to CenitSaaS, it is your responsibility to use a secure encrypted connection to communicate with the Services.</p>
      </div> 
      <div class="col-md-12">
        <h3>Property and Feedback</h3>
        <p> 
          These terms do not grant you any right, title, or interest in the Services, Software, or the content in the Services. While we appreciate it when users send us feedback, please be aware that we may use any feedback, comments, or suggestions you send us or post in our forums without any obligation to you. The Software and other technology we use to provide the Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. These Terms do not grant you any rights to use the our trademarks, logos, domain names, or other brand features.
</p>
      </div> 
      <div class="col-md-12">
        <h3>Acceptable Use Policy</h3>
        <p> 
          You will not, and will not attempt to, misuse the Services, and will use the Services only in a manner consistent with our Acceptable Use Policy.</p>
      </div>  
      <div class="col-md-12">
        <h3>Copyright</h3>
        <p> 
          We respects others’ intellectual property and asks that you do too. We will respond to notices of alleged copyright infringement if they comply with the law and are properly provided to CenitSaaS. Such notices should be reported using our DMCA Process. We reserve the right to delete or disable content alleged to be infringing and to terminate repeat infringers. Our designated agent for notice of alleged copyright infringement on the Services is:
          <p>
          Copyright Agent
          Cenit, LLC.

          Charlotte, NC 28216
          support@cenit.io
          </p>
        </p>
      </div> 
      <div class="col-md-12">
        <h3>Other Content</h3>
        <p>
          The Services may contain links to third-party websites or resources. We do not endorse and are not responsible or liable for their availability, accuracy, the related content, products, or services. You are solely responsible for your use of any such websites or resources. Also, if we provide you with any software under an open source license, there may be provisions in those licenses that expressly conflict with these Terms, in which case the open source provisions will apply.</p>
      </div> 
      <div class="col-md-12">
        <h3>Termination</h3>
        <p>
          Though we’d much rather you stay, you can stop using our Services any time. We reserve the right to suspend or end the Services at any time, with or without cause, and with or without notice. For example, we may suspend or terminate your use if you are not complying with these Terms, or use the Services in any way that would cause us legal liability or disrupt others’ use of the Services. If we suspend or terminate your use, we will try to let you know in advance and help you retrieve data, though there may be some cases (for example, repeatedly or flagrantly violating these Terms, a court order, or danger to other users) where we may suspend immediately.</p>
      </div>    
      <div class="col-md-12">
        <h3>CenitSaaS is Available “AS-IS”</h3>
        <p>
          Though we want to provide a great service, there are certain things about the service we can’t promise. For example, THE SERVICES AND SOFTWARE ARE PROVIDED “AS IS”, AT YOUR OWN RISK, WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. We will have no responsibility for any harm to your computer system, loss or corruption of data, or other harm that results from your access to or use of the Services or Software. Some states do not allow the types of disclaimers in this paragraph, so they may not apply to you.</p>
      </div> 
      <div class="col-md-12">
        <h3>Limitation of Liability</h3>
        <p>
          TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL CENITSAAS, ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT CENITSAAS HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF $20 OR THE AMOUNTS PAID BY YOU TO CENIT FOR THE PAST THREE MONTHS OF THE SERVICES IN QUESTION. Some states do not allow the types of limitations in this paragraph, so they may not apply to you.</p>
      </div>
      <div class="col-md-12">
        <h3>Modifications</h3>
        <p>
          We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you (for example via email to the email address associated with your account). Other changes may be posted to our blog or terms page, so please check those pages regularly. By continuing to access or use the Services after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Services.</p>
      </div>
      <div class="col-md-12">
        <h3>Miscellaneous Legal Terms</h3>
        <p>
          THESE TERMS AND THE USE OF THE SERVICES AND SOFTWARE WILL BE GOVERNED BY DELAWARE LAW EXCEPT FOR ITS CONFLICTS OF LAWS PRINCIPLES. ALL CLAIMS ARISING OUT OF OR RELATING TO THESE TERMS OR THE SERVICES OR SOFTWARE MUST BE LITIGATED EXCLUSIVELY IN THE FEDERAL OR STATE COURTS OF DELAWARE COUNTY, DELAWARE, AND BOTH PARTIES CONSENT TO VENUE AND PERSONAL JURISDICTION THERE. These Terms constitute the entire and exclusive agreement between you and CenitSaaS with respect to the Services, and supersede and replace any other agreements, terms and conditions applicable to the Services. These Terms create no third party beneficiary rights. Our failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable the remaining provisions of the Agreement will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights in these Terms, and any such attempt is void, but we may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services. We and you are not legal partners or agents; instead, our relationship is that of independent contractors. 
This section of the agreement only applies to CenitSaaS for Business customers.</p>
      </div>
      <div class="col-md-12">
        <h3>CenitSaaS for Business Agreement</h3>
        <p>
          This CenitSaaS for Business Agreement (the "Agreement") is between Cenit, LLC. a Delaware corporation and Customer or End User, as applicable. This Agreement governs access to and use of the CenitSaaS for Business services and any client software (the "Services" or "CenitSaaS for Business").</p>
        <p>
          The Customer ordering the Services: If you are ordering the Services, then by clicking "I Agree," signing your contract for the Services or using CenitSaaS for Business, you agree to this Agreement as a "Customer." If you are agreeing to this Agreement for use by an organization, you are agreeing to this Agreement on behalf of that organization. You must have the authority to bind that organization to this Agreement, otherwise you must not sign up for the Services.
</p>
        <p>
          End Users: If you are using the Services as an "End User", then by clicking "I Agree" or using CenitSaaS for Business you agree to this Agreement (especially note sections 1 and 13) and our Terms of Service at <a>https://cenithub.com/terms </a>. To the extent this Agreement conflicts with our Terms of Service, this Agreement controls. Please take note that in this Agreement, you are agreeing that your Administrator may be able to control account information and access to your CenitSaaS for Business account.</p>
          End Users.    
          Customer Obligations.    
          Services.    
          Support. Customer will, at its own expense, respond to questions and complaints from    End Users or third parties relating to use of the Services. Customer will use reasonable efforts to resolve support issues before escalating them to CenitSaaS.
          Suspension.    
          Intellectual Property Rights.    
          Third Party Services. If Customer uses any third-party service with the Services, (a) the service may access or use Customer's or End User's information; (b) We will not be responsible for any act or omission of the third party, including the third party's use of Customer's or End User's information; and (c) We do not warrant or support any service provided by the third party.    
          Disclaimers. THE SERVICES ARE PROVIDED "AS IS." TO THE FULLEST EXTENT PERMITTED BY LAW, EXCEPT AS EXPRESSLY STATED IN THIS AGREEMENT, NEITHER CENITSAAS NOR CUSTOMER MAKES ANY WARRANTY OF ANY KIND, WHETHER     EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE, OR NONINFRINGEMENT. CENITSAAS MAKES NO REPRESENTATIONS ABOUT ANY CONTENT OR INFORMATION IN OR FROM AN END USER OR CUSTOMER SERVICES ACCOUNT. CenitSaaS is not responsible for the accuracy, completeness, appropriateness, or     legality of files, user posts, or any other information in or from an End User or Customer Services account. CenitSaaS has no responsibility or liability for the deletion or failure to store any information in or from an End User or Customer Services account.    
          Fees & Payment.    
          Term & Termination.    
          Limitation of Liability.    
          Miscellaneous.
</p>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <h2><b>Privacy Policy</b></h2>
        <p>
          This Privacy Policy provides our policies and procedures for collecting, using, and disclosing your information. Users can access the CenitSaaS service (the “Service”) through our website cenithub.com, applications on Devices, through APIs, and through third-parties. A “Device” is any computer used to access the Cenit Service, including without limitation a desktop, laptop, mobile phone, tablet, or other consumer electronic device. This Privacy Policy governs your access of the CenitSaaS Service, regardless of how you access it, and by using our Services you consent to the collection, transfer, processing, storage, disclosure and other uses described in this Privacy Policy. All of the different forms of data, content, and information described below are collectively referred to as “information.”</p>
      </div>
      <div class="col-md-12">
        <h3>The Information We Collect And Store</h3>
        <p>
          We may collect and store the following information when running the Cenit Service:
Information You Provide.   When you register an account, we collect some personal information, such as your name, phone number, credit card or other billing information, email address and home and business postal addresses. You may also ask us to import your contacts by giving us access to your third party services (for example, your email account) or to use your social networking information if you give us access to your account on social network connection services. When you invite others to join CenitSaaS by using our referral page, we send them a one-time email for that referral. You may also provide us with your contacts’ email addresses when sharing folders or files with them. We may also receive Personal Information (for example, your email address) through other users, for example if they have tried to share something with you or tried to refer Cenit to you.</p>
        <p>
          Files. We collect and store the files you upload, download, or access with the CenitSaaS Service (“Files”). If you add a file to your CenitSaaS that has been previously uploaded by you or another user, we may associate all or a portion of the previous file with your account rather than storing a duplicate.</p>
        <p>
          Log Data. When you use the Service, we automatically record information from your Device, its software, and your activity using the Services. This may include the Device’s Internet Protocol (“IP”) address, browser type, the web page visited before you came to our website, information you search for on our website, locale preferences, identification numbers associated with your Devices, your mobile carrier, date and time stamps associated with transactions, system configuration information, metadata concerning your Files, and other interactions with the Service.</p>
        <p>
          Cookies. We also use “cookies” to collect information and improve our Services. A cookie is a small data file that we transfer to your Device. We may use “persistent cookies” to save your registration ID and login password for future logins to the Service. We may use “session ID cookies” to enable certain features of the Service, to better understand how you interact with the Service and to monitor aggregate usage and web traffic routing on the Service. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all aspects of the Service.</p>
      </div>
      <div class="col-md-12">
        <h3>How We Use Personal Information</h3>
        <p>
          Personal Information. In the course of using the Service, we may collect personal information that can be used to contact or identify you (“Personal Information”). Personal Information is or may be used: (i) to provide and improve our Service, (ii) to administer your use of the Service, (iii) to better understand your needs and interests, (iv) to personalize and improve your experience, and (v) to provide or offer software updates and product announcements. If you no longer wish to receive communications from us, please follow the “unsubscribe” instructions provided in any of those communications, or update your account settings information.</p>
        <p>
          Geo-Location Information.   Some Devices allow applications to access real-time location-based information (for example, GPS). Our mobile apps do not collect such information from your mobile device at any time while you download or use our mobile apps as of the date this policy went into effect, but may do so in the future with your consent to improve our Services. Some photos and videos you place in CenitSaaS may contain recorded location information. We may use this information to optimize your experience. If you do not wish to share files embedded with your geo-location information with us, please do not upload them. If you don’t want to store location data in your photos or videos, please consult the documentation for your camera to turn off that feature. Also, some of the information we collect from a Device, for example IP address, can sometimes be used to approximate a Device’s location.</p>
        <p>
          Analytics. We also collect some information (ourselves or using third party services) using logging and cookies, such as IP address, which can sometimes be correlated with Personal Information. We use this information for the above purposes and to monitor and analyze use of the Service, for the Service’s technical administration, to increase our Service’s functionality and user-friendliness, and to verify users have the authorization needed for the Service to process their requests. As of the date this policy went into effect, we use Google Analytics. To learn more about the privacy policy of Google Analytics, click here, and to learn how to opt out of that service click here.</p>
      </div>
      <div class="col-md-12">
        <h3>Information Sharing and Disclosure</h3>
        <p>
          Your Use. We will display your Personal Information in your profile page and elsewhere on the Service according to the preferences you set in your account. Any information you choose to provide should reflect how much you want others to know about you. Please consider carefully what information you disclose in your profile page and your desired level of anonymity. You can review and revise your profile information at any time. We do not sell your personal information to third parties. We may also share or disclose your information with your consent, for example if you use a third party application to access your account (see below). Through certain features of the Service, you may also have the ability to make some of your information public. Public information may be broadly and quickly disseminated.</p>
        <p>
          Service Providers, Business Partners and Others. We may use certain trusted third party companies and individuals to help us provide, analyze, and improve the Service (including but not limited to data storage, maintenance services, database management, web analytics, payment processing, and improvement of the Service’s features). These third parties may have access to your information only for purposes of performing these tasks on our behalf and under obligations similar to those in this Privacy Policy. As of the date this policy went into effect, we use Amazon’s S3 storage service to store some of your information (for example, your Files). You can find more information on Amazon's data security from the S3 site or, read more about how Cenit and Amazon securely store data.</p>
        <p>
          Third-Party Applications. We may share your information with a third party application with your consent, for example when you choose to access our Services through such an application. We are not responsible for what those parties do with your information, so you should make sure you trust the application and that it has a privacy policy acceptable to you.</p>
        <p>
          Compliance with Laws and Law Enforcement Requests; Protection of CenitSaas Rights.   We may disclose to parties outside CenitSaaS files stored in your CenitSaaS and information about you that we collect when we have a good faith belief that disclosure is reasonably necessary to (a) comply with a law, regulation or compulsory legal request; (b) protect the safety of any person from death or serious bodily injury; (c) prevent fraud or abuse of CenitSaaS or its users; or (d) to protect CenitSaaS property rights. If we provide your CenitSaaS files to a law enforcement agency as set forth above, we will remove CenitSaas encryption from the files before providing them to law enforcement. However, CenitSaaS will not be able to decrypt any files that you encrypted prior to storing them on CenitSaaS.</p>
        <p>
          Business Transfers. If we are involved in a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred as part of that transaction, but we will notify you (for example, via email and/or a prominent notice on our website) of any change in control or use of your Personal Information or Files, or if either become subject to a different Privacy Policy. We will also notify you of choices you may have regarding the information.
</p>
        <p>
          Non-private or Non-Personal Information. We may disclose your non-private, aggregated, or otherwise non-personal information, such as usage statistics of our Service.</p>
      </div>
      <div class="col-md-12">
        <h3>Changing or Deleting Your Information</h3>
        <p>
          If you are a registered user, you may review, update, correct or delete the Personal Information provided in your registration or account profile by changing your “account settings.” If your personally identifiable information changes, or if you no longer desire our service, you may update or delete it by making the change on your account settings. In some cases we may retain copies of your information if required by law. For questions about your Personal Information on our Service, please contact support@cenit.io. We will respond to your inquiry within 30 days.</p>
      </div>
      <div class="col-md-12">
        <h3>Data Retention</h3>
        <p>
          We will retain your information for as long as your account is active or as needed to provide you services. If you wish to cancel your account or request that we no longer use your information to provide you services, you may delete your account here. We may retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. Consistent with these requirements, we will try to delete your information quickly upon request. Please note, however, that there might be latency in deleting information from our servers and backed-up versions might exist after deletion. In addition, we do not delete from our servers files that you have in common with other users.</p>
      </div>
      <div class="col-md-12">
        <h3>CenitSaaS for Business Users</h3>
        <p>
          If you have a CenitSaaS for Business account, your Administrator may be able to a)access information in and about your CenitSaaS for Business account;b)disclose, restrict, or access information that you have provided or that is made available to you when using your CenitSaaS for Business account; and c)control how your CenitSaaS for Business account may be accessed or deleted.
Please refer to your organization's policies if you have questions about your Administrator's rights.</p>
      </div>
      <div class="col-md-12">
        <h3>CenitSaaS Community</h3>
        <p>
          Our Service offers publicly accessible community services such as blogs, forums, and wikis. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. Your posts may remain even after you cancel your account. For questions about your Personal Information on our Service, please contact support@cenitsaas.com.</p>
        <p>
          Our Site includes links to other Web sites whose privacy practices may differ from those of CenitSaaS. If you submit personal information to any of those sites, your information is governed by their privacy statements. We encourage you to carefully read the privacy statement of any web site you visit.</p>
      </div>
      <div class="col-md-12">
        <h3>Security</h3>
        <p>
          The security of your information is important to us. When you enter sensitive information (such as a credit card number) on our order forms, we encrypt the transmission of that information using secure socket layer technology (SSL).</p>
        <p>
          We follow generally accepted standards to protect the information submitted to us, both during transmission and once we receive it. No method of electronic transmission or storage is 100% secure, however. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our website, you can view our Security Overview Page or contact us at support@cenit.io.</p>
      </div>
      <div class="col-md-12">
        <h3>Our Policy Toward Children</h3>
        <p>
          Our Services are not directed to persons under 13. We do not knowingly collect personally identifiable information from children under 13. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent, he or she should contact us at support@cenit.io. If we become aware that a child under 13 has provided us with Personal Information, we will take steps to delete such information from our files.
</p>
      </div>
      <div class="col-md-12">
        <h3>Safe Harbor</h3>
        <p>
          CenitSaaS has received TRUSTe's Privacy Seal signifying that this privacy statement and our practices have been reviewed by TRUSTe for compliance with TRUSTe's program requirements including transparency, accountability and choice regarding the collection and use of your personal information. The TRUSTe program does not cover information that may be collected through downloadable software.</p>
        <p>
          CenitSaaS complies with the U.S. – E.U. Safe Harbor Framework and the U.S. – Swiss Safe Harbor framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal data from European Union member countries and Switzerland. CenitSaaS has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement. To learn more about the Safe Harbor program, please visit <a href="http://export.gov/safeharbor"> to view CenitSaaS certification.</a></p>
        <p>
If you have questions regarding this statement, you should first contact us at support@cenit.io. If you do not receive acknowledgement of your inquiry or your inquiry has not been satisfactorily addressed, you should then contact TRUSTe at <a>http://www.truste.org/consumers/watchdog_complaint.php</a>. The TRUSTe dispute resolution process is only available in English.</p>
      </div>
      <div class="col-md-12">
        <h3>Contacting Us</h3>
        <p>
          If you have any questions about this Privacy Policy, please contact us at support@cenit.io.</p>
      </div>
      <div class="col-md-12">
        <h3>Changes to our Privacy Policy</h3>
        <p>
          This Privacy Policy may change from time to time. If we make a change to this privacy policy that we believe materially reduces your rights, we will provide you with notice (for example, by email). And we may provide notice of changes in other circumstances as well. By continuing to use the Service after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>
      </div>
    </div>
  </div>



