<div class="col-xs-4 col-sm-3" style='margin-bottom: 30px;'>
  <div class="section">
    <div class="pic" style='height: 155px'>
      <%= link_to directory_path(item.slug) do %>
        <img src='<%= "#{ENV['S3']}#{item.slug}.png" %>' width= "100" class='img-responsive' alt='<%= item.name %>'>
          <div class='text-center'>
            <%= item.name %>
          </div>
        </img>
      <% end %>
    </div>
  </div>
</div>

<% if (item_counter + 1) % 4 == 0 %>
   <div class="clearfix"></div>
<% elsif (item_counter + 1) % 3 == 0 %>
  <div class="clearfix visible-xs"></div>
<% end %>

