<div id="grid-first">
  <div class="container">

    <div class="row header">
      <h3>Need an easy way to connect your backend apps with internet services?</h3>
      <p>
        CenitSaaS is the perfect tool to help you out.
      </p>
    </div>

    <%= render partial: "item", collection: @items %>
  </div>
</div>
