<% title = 'Public API Directory' %>
<%= render 'shared/page_header', title: title, home: false %>
<div id="grid-first">
  <div class="container">
    <%= render partial: 'item', collection: @items %>
  </div>
</div>
