<div id="charts">
  <div id="tabs-option">
    <div class="container">
      <div class="row header">
        <h3>Implementation Odoo & Data Integration Service</h3>
        <p>For some cases that you might also need</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tabs">
            <div class="tab monthly active">
              <span>Pay Week</span>
            </div>
            <div class="tab anually">
              <span>
                Pay monthly
                <small>20% off</small>
              </span>
            </div>
          </div>
          <div class="plans clearfix">
            <div class="plan col-md-4">
              <div class="header">
                <span class="icon entypo-user"></span>
                25 hours
                <div class="price" data-weekly="$800/weekly">
                  $800 USD/week
                </div>
              </div>
              <div class="specs">
                <div class="spec">
                  <span class="variable">1</span> team member
                </div>
                <div class="spec">
                  <span class="variable">Support</span> email + chat 
                </div>
                <div class="spec">
                  <span class="variable">Configuration</span> setting options
                </div>
                <div class="spec">&nbsp;</div>
                <div class="spec">&nbsp;</div>
              </div>
            </div>
            <div class="plan col-md-4 middle">
              <div class="header">
                <span class="icon entypo-users"></span>
                50 hours
                <div class="price">
                  $1 700 USD/week
                </div>
              </div>
              <div class="specs">
                <div class="spec">
                  <span class="variable">1</span> team member
                </div>
                <div class="spec">
                  <span class="variable">Support</span> email + chat 
                </div>
                <div class="spec">
                  <span class="variable">Configuration</span> setting options
                </div>
                <div class="spec">
                  <span class="variable">Customization</span> forms and fields
                </div>
                <div class="spec">
                  <span class="variable">Importation</span> form severals sources
                </div>
                <div class="spec">&nbsp;</div>
                <div class="spec">&nbsp;</div>
              </div>
            </div>
            <div class="plan col-md-4">
              <div class="header">
                <span class="icon entypo-suitcase"></span>
                100 hours
                <div class="price">
                  $3 050 USD/two weeks
                </div>
              </div>
              <div class="specs">
                <div class="spec">
                  <span class="variable">1</span> team member
                </div>
                <div class="spec">
                  <span class="variable">Support</span> email + chat 
                </div>
                <div class="spec">
                  <span class="variable">Configuration</span> setting options
                </div>
                <div class="spec">
                  <span class="variable">Customization</span> forms and fields
                </div>
                <div class="spec">
                  <span class="variable">Importation</span> form severals sources
                </div>
                <div class="spec">
                  <span class="variable">Integration</span> wieth internet services
                </div>
                <div class="spec">
                  <span class="variable">Creation</span> of new add-ons
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

