<div id='home'>
  <div id="tabs">
  <div class="container">
    <div class="row">
      <div class="col-md-12 hexagons">
        <div class="hexagon active">
          <span class="icon brankic-monitor"></span>
        </div>
        <div class="hexagon">
          <span class="icon brankic-phone"></span>
        </div>
        <div class="hexagon">
          <span class="icon brankic-lamp3"></span>
        </div>
        <div class="hexagon">
          <span class="icon brankic-pictures3"></span>
        </div>
        <div class="hexagon">
          <span class="icon brankic-upload2"></span>
        </div>
        <div class="hexagon">
          <span class="icon brankic-tools"></span>
        </div>
      </div>
    </div>
    
    <div id="grid-first">
      <div class="container">
        <div class="row header">
          <h3>Data Definitions</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="sections">
          <div class="section active">
            <h4>Libraries, Schemas & Data Types</h4>
            <p>
              Libraries are collections of schemas.
            </p>
            <p>
              Schemas define data types.
            </p>
            <p>
              Most of actions in Cenit involves a data type.
            </p>
          </div>
          <div class="section">
            <h4>Define a data type is as simple as a JSON Schema.</h4>
          </div>
          <div class="section">
            <h4>Basic JSON Schema</h4>
            <p>
              Title defines a title for the data type, use is optional.
            </p>
            <p>
              Type object is mandatory for enhanced data types interaction
            </p>
            <p>
              Properties is mandatory for enhanced data types interaction.
            </p>
            <p>
              Required properties definition is optional.
            </p>
          </div>
          <div class="section">
            <h4>The new schema action</h4>
            <p>
              Every schema have an URI and must be included in a library.
            </p>
          </div>
          <div class="section">
            <h4>Loading Data types</h4>
            <p>
              When loading a data type Cenit creates a class model on the fly that can be used as any other model in the administration view.
            </p>
          </div>
          <div class="section">
            <h4>Enhancing Schemas</h4>
          </div>
          <div class="section">
            <h4>Reusing Schemas</h4>
          </div>
          <div class="section">
            <h4>XML Schemas</h4>
            <p>
              Defining data types from XML Schemas is supported.
            </p>
            <p>
              This example defines a data type element:Costumer with an embedded definition of Address.
            </p>
            <p>
              Cenit defines a data type for every top level type or element, so a single XML Schema may define multiple data types.<br />

              This example defines two data types, type:Address and element:Costumer.
            </p>
          </div>
          <div class="section">
            <h4>Reusing XML Schemas</h4>
            <p>
              Cenit automatically links data types when referencing XML Schemas.
            </p>
          </div>
          <div class="section">
            <h4>Versioning Schemas</h4>
            <p>
              URIs and data type names must be unique in the same library but data types versions with the same URI or name can be defined in different libraries.
            </p>
          </div>
        </div>
      </div>
    </div>
    


  </div>
</div>
</div>