<div class="video">
  <div class="iframe-wrapper">
    <iframe src="https://www.youtube.com/embed/oBmGtKd4Ia4" width="778" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>