<nav class="nav-menu">
  <h3>Menu</h3>
  <%= link_to 'Features', "#{root_path}#features", :class => 'item' %>
  <%= link_to 'Services', "#{root_path}#services", :class => 'item' %>
  <%= link_to 'Documentation', '#', :class => 'item' %>
  <%= link_to 'Contact us', contact_us_path, :class => 'item' %>


  <div class="social">
    <a href="https://github.com/openjaf/cenit">
      <i class="fa fa-github"></i>
    </a>
    <a href="#">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</nav>