<nav class="nav-menu">
  <h3>Menu</h3>
  <%= link_to 'cenit.io', 'https://cenit.io', :class => 'item', data: { no_turbolink: true }  %>

 
  <%= link_to 'Blog', blog_index_path, :class => 'item', data: { no_turbolink: true } %>
  <%= link_to 'Terms of service', '/terms_of_service', :class => 'item', :class => 'item'%>
  <div class="social" style='margin-top: 0px; '>
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UC7JVcEmA3BkiR2SZ_lx5lyA" data-layout="default" data-count="default"></div><br />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div class=" g-follow" data-href="https://plus.google.com/109973562966126644452" data-height="20" data-rel="author"></div><br />
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/FollowCompany" data-id="9436778" data-counter="right"></script><br />
  </div>

</nav>
