<nav class="nav-menu">
  <h3>Menu</h3>
  <%= link_to 'Data Integration', "#{root_path}#features", :class => 'item' %>
  <%= link_to 'Plans', "#{root_path}#pricing", :class => 'item' %>
  <%= link_to 'Workspace', "#{root_path}#services", :class => 'item' %>

  <div class="social">
    <a href="https://github.com/openjaf/cenit">
      <%=image_tag 'social/github-sociocon.png',:alt=>'github' %>
    </a>
  </div>
</nav>