<br><br>
<div id="tabs">
 <div id='services' class="container text-center">
   
   <div class="row header">
     <h2>Online ERP & CRM workspace with Odoo</h2>
   </div>
 
    <div class="row">
      <div class="col-md-12 tabs-wrapper">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Warehouse Management System</a></li>
          <li><a href="#profile" data-toggle="tab">Customer Relationship Management</a></li>
          <li><a href="#messages" data-toggle="tab">Web Site builder</a></li>
          <li><a href="#settings" data-toggle="tab">Full-featured e-Commerce</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <div class="col-md-6 info">
              <h4>Warehouse Management System</h4>
              <p>
                Decrease your process times, automate transactions, reduce your stock levels and get complete traceability on all operations with the Odoo double entry inventory system.
              </p>
              <p>
                Based on the double entry system, this open source inventory management software isn't about consumption, loss or missing products; products are just moved from one location to another.
              </p>
            </div>
            <div class="col-md-6 image">
              <%= image_tag 'tabs/odoo_1.png',:class => 'img-responsive', :alt => 'pic1' %>
            </div>
          </div>
          <div class="tab-pane fade" id="profile">
            <div class="col-md-6 image">
              <%= image_tag 'tabs/odoo_7.jpg',:class => 'img-responsive', :alt => 'pic2' %>
            </div>
            <div class="col-md-6 info">
              <h4>Open Source Customer Relationship Management</h4>
              <p>
                Manage your sales funnel with no effort. Attract leads, follow-up on phone calls and meetings. Analyse the quality of your leads to make informed decisions and save time by integrating emails from all your contacts directly into the application.
              </p>
              <p>
                Track your opportunities pipeline with kanban view in a few simple steps. Work inside your sales funnel and get instant visual information about next actions, new messages, top opportunities and expected revenues.
              </p>  
            </div>
          </div>
          <div class="tab-pane fade" id="messages">
            <div class="col-md-6 info">
              <h4>Web Site builder</h4>
              <p>
                Create beautiful websites in Odoo CMS with no technical knowledge. Odoo's unique 'edit inline' approach makes creating a website surprisingly easy. No more complex backend; just click and change any content anywhere you need.
              </p>
              <p>
                Change the price of a product. Put a title in bold. Come up with a blog subtitle. Do all of these on the go by just clicking and changing.

                It's that simple.
              </p>
            </div>
            <div class="col-md-6 image">
              <%= image_tag 'tabs/odoo_5.jpeg',:class => 'img-responsive', :style => 'position: relative;top: 15px;', :alt => 'pic3' %>
            </div>
          </div>
          <div class="tab-pane fade" id="settings">
            <div class="col-md-6 image">
              <%= image_tag 'tabs/odoo_8.png',:class => 'img-responsive', :alt => 'pic4' %>
            </div>
            <div class="col-md-6 info">
              <h4>Full-featured e-Commerce</h4>
              <p>
                Odoo's e-Commerce software is unlike anything you have ever seen before. Get an awesome catalog of products and great product description pages.
              </p>
              <p>
                It's full-featured, integrated with your management software, fully customizable and super easy.
              </p>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
