<div id="hero" class="<%= home ? '' : 'hub' %>">
  <div id="<%= home ? "cover-image" : '' %>" class="animated fadeIn">
    <div class="container">
      <h1 class="hero-text animated fadeIn"><%= title %></h1>
    </div>
  </div>
</div>
