<div id="home2">
  <div id="cta">
    <% if user_signed_in? %>
      <% if link == :hub && (cenit_app = Doorkeeper::Application.where(name: 'Cenit').first).present? %>
        <%= link_to "Data Integrator", cenithub_url(cenit_app) %>
      <% end %>
      <% if link == :odoo && (odoo_app = Doorkeeper::Application.where(name: 'odoo').first).present? %>
        <%= link_to "ERP & CRM", cenitodoo_url(current_user, odoo_app), class: 'button button_erp' %>
      <% end %>
    <% else %>
      <%= link_to 'Sign up for free', new_user_registration_path %>
    <% end %>
  </div>
</div>
