<div class="video">
  <div class="iframe-wrapper">
    <iframe src="<%= video %>" width="778" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>