<div id="update">
  <div class="container">
    <div class="row header">
      <h3>Cenit SaaS System Status</h3>
      <p>Current status and incident report</p>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default modules">
          <ul class="list-group">
            <li class="list-group-item">
              Data Integration
              <div class="status">Operational</div>
            </li>
            <li class="list-group-item">
              ERP & CRM
              <div class="status">Operational</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="messages">
          <h3>Messages</h3>
          <div class="date">
            <div class="day">Today</div>
            Status: <span class="ok">All systems operational.</span> Space in use: <span class="ok">30 MB.</span>
          </div>
          <div class="date">
            <div class="day">Yesterday, October 25 2013</div>
            <p class="ok">
              All systems operational
            </p>
          </div>
          <div class="date">
            <div class="day">October 04 2013</div>
            <p class="ok">
              All systems operational
            </p>
          </div>
          <div class="date">
            <div class="day">October 03 2013</div>
            <p class="ok">
              All systems operational
            </p>
          </div>
          <div class="date">
            <div class="day">October 02 2013</div>
            <p class="issues">
              Application deployment issues
            </p>
            <p class="update">
              <strong>Resolved:</strong>
              We fixed the issues monitoring status, downtime was between 1pm and 5pm PT.
            </p>
            <p class="update">
              <strong>Investigating:</strong>
              We identified some issues deploying some applications and monitoring their status.
            </p>
          </div>
        </div>
        <div class="full-history">
          <a href="#">
            ← See full incident history
          </a>
        </div>
      </div>
    </div>
  </div>
</div>