<p>For more information, please contact us by <%= link_to 'www.cenitsaas.com', 'https://cenit.io' %> or send us a message to the email address <a href="mailto:support@cenit.io" target="_top">support@cenit.io</a></p>
<br />
<%= link_to 'Back to blog', '/blog', class: 'button' %> 
<a data-toggle="modal"  class="item" href="#contact_us" data-backdrop="false" style='font-size: 18px; margin-left: 20px;'> Get in touch</a>