<% title = "Screencast | Part I: Cenit Integrations Client on Odoo" %>
<%= render 'shared/page_header', title: title, home: false %>

<div id="blogpost">
  <div id="blogpost-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-10 post">
          <div class="video">
            <div class="iframe-wrapper">
              <iframe src="https://www.youtube.com/embed/Xz7c1k0ZL_k" width="778" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 post">
          <div class="title">
            <%= title %>
          </div>
          <div class="author">
            September 1, 2015
          </div>

          <div class="content">
              <p>Hello everyone and welcome to the "Installing the Cenit Integrations Client" screencast!</p>

              <p>As you can see, this tutorial is performed on a local Odoo 8.0 system with demo data enabled. This means that the Cenit Integrations Clients can be installed in your local Odoo 8.0 as well.</p>

              <p>So? Are you ready? Let's get to it!</p> 

              <h3>Go to Settings.</h3>

              <p>To find the addon, you can either browse your apps or type 'cenit' on the search box.
              Click on the addon name to review it.</p>

              <p>You'll see the description, which includes a few screenshots.
              Ok, that's enough, click the Install button.</p>

              <p>This might take a moment, depending on your Internet connection speed.</p>

              <p>If you have a Cenit account you want to use, you should skip this step.</p>

              <p>If not, enter your email address and make sure you enter the captcha text correctly.</p>


              <p>Click the SignUp button
              and now you are looking at your Cenit credentials.</p> 


              <p>Should you had skipped the SignUp process this would have been the moment to manually enter your Cenit credentials.</p>


              <p>Simply click Apply, we're almost done!</p>


              <p>As you can confirm, the addon is now installed.</p>


              <p>You should see a Cenit Integration tab on your top menu, click it.</p>


              <p>Right now we have no Schemas, Connections or Flows, 
              only a collection of basic translators that you'll be able to use in the future.</p>


              <p>Not much, right? But there are many out-of-the-box integrations already available for you, some of them are even free.</p>

              <p>And that's that for this screencast. See you on the next one!</p>
              
              <%= render 'footer' %>
  
          </div>

        </div>
      </div>
    </div>
  </div>
</div>