<table>
  <tr>
    <td>
      <%= link_to 'http://www.cenitsaas.com', 'CenitSaaS', :class => 'navbar-brand' %>
    </td>
  </tr>
  <tr>
    <td>
      <p class="lede">
        Welcome <%= @email %>!
      </p>
      <p>
        You are receiving this email because you have shown interest in joining us!
      </p>
      <p>
        You can confirm your account email through the link below:
      </p>
      <p>
        <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
      </p>
      <p>
        Thank you for sign-up in CenitSaaS!
      </p>
      <p>
        <center>
          <p style="text-align:center;"><a href="http://www.cenitsaas.com">Terms</a> | <a href="http://www.cenitsaas.com">Privacy</a></p>
        </center>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>