<header class="navbar navbar-inverse hero" role="banner">
  <div class="container">

    <div class="navbar-header">
      <%= link_to "#{ENV['HUB_URL'] || root_path}" , :class => 'navbar-brand', data: { no_turbolink: true } do %>
        <%= image_tag 'cenit-logo.png',size: "51x26" %> Cenit IO
      <% end %>
    </div>

    <div class='pull-right'>
      <div class="sidebar-toggle">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <span id='sign-in'>
        <%= link_to 'try it free', 'https://cenit.io/users/sign_up', class: 'navbar-brand demo pull-right', id: 'sign-in-link', style: 'background-color: #ea7400;' %>
      </span>
    </div>
  </div>
</header>
