<header class="navbar navbar-inverse hero" role="banner">
  <div class="container">

    <div class="navbar-header">
      <%= link_to root_path , :class => 'navbar-brand', data: { no_turbolink: true } do %>
        <%= image_tag 'cenit-logo.png',size: "51x26" %> CenitSaaS
      <% end %>
    </div>

    <div class='pull-right'>
      <div class="sidebar-toggle">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <span id='sign-in'>
        <% unless user_signed_in? %>
          <%= link_to 'Free Sign Up', new_user_registration_path, class: 'navbar-brand demo pull-right', id: 'sign-in-link', style: 'background-color: #ea7400;' %>
        <% else %>
          <%= link_to "Sign out", destroy_user_session_path, class: 'navbar-brand demo pull-right', method: 'delete', id: 'sign-out-link' %>
        <% end %>
      </span>
    </div>
  </div>
</header>